<div class="container">
  <div class="row mt-5">
    <div class="genre_search col-3">
     <%= render "genre_search", genres: @genres %>
    </div>
    <div class="product-box col-9 d-flex flex-row">
      <div class="product-image mr-5">
        <%= attachment_image_tag @product, :image, :fill, 250, 200, format: 'jpeg' %>
      </div>
      <div class="product-detail mt-2">
        <h4><strong><%= @product.name %></h4></strong>
        <p><%= @product.introduction %></p>
        <div class="price d-flex flex-row mt-6">
          <h5>¥<%= @product.include_tax.round %></h5>
          <p>(税込)</p>
        </div>
        <%= form_with model: @cart_product, url: create_cart_products_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.hidden_field :customer_id, value: current_customer.id %>
          <%= f.select :amount, @numbers %>
          <%= f.submit 'カートに入れる', class:"btn btn-success" %>
        <% end %>
        <%#= link_to 'カートに入れる', create_cart_products_path(@cart_products, product_id: @product.id, customer_id: current_customer.id, amount: 1), method: :post %>
        <%#= link_to 'カートに入れる', {controller: 'cart_products', action: 'create', product_id: @product.id, customer_id: current_customer.id, amount: 1 }, method: :post %>
      </div>
     </div>
    </div>
  </div>
</div>