 <div class="product-title">
  <h2 class ="mb-5">商品詳細</h2>
  <%= render "genre_search", genres: @genres %>
</div>
<div class="container pb-5">
  <div class="row mt-5">

    <!--<div class="col-6">-->
    <!--    <%#= attachment_image_tag @product, :image, :fill, 500, 400, format: 'jpeg' %>-->
    <!--  </div>-->

    <div class="col-lg-6 col-md-10 col-sm-10 zoomInText">
      <span class="mask">
        <%= attachment_image_tag @product, :image, :fill, 550, 400, format: 'jpeg' %>
        <span class="cap">
          <%= @product.name %><br>
          <span> ¥<%= @product.price %></span><br>
          <span><%= @product.introduction %></span>
        </span>
      </span>
    </div>

    <div class="col-lg-6 col-md-10 col-sm-10">
      <div class="product-show-detail">
        <p class="product-name"><%= @product.name %></p>
        <p class="product-introduction"><%= @product.introduction %></p>
        <div class="d-flex flex-row mt-6">
          <p class="product-price">¥<%= @product.include_tax.round %></p>
          <p class="product-price">(税込)</p>
        </div>
        <div class="cart-button">
        <%= form_with model: @cart_product, url: create_cart_products_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.hidden_field :customer_id, value: current_customer.id %>
          <%= f.select :amount, @numbers, class:"select" %>
          <%= f.submit 'カートに入れる', class:"btn btn-outline-secondary" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

