<div class="about-top">
  <div class="about-header">
   <%= image_tag 'about-header.jpg', :width => '100%', :height => 'auto', class:"about-top-image" %>
   <%= link_to image_tag("ロゴ大.PNG", width: 300), "/", class:"navbar-brand p-3" %>
  </div>
  <div class="about-title text-center pt-5">
    <h4 class ="pb-5">NAGANOCAKEについて</h4>
    <p class="about-comment">
        「NAGANOCAKE」は全国発送可能なケーキ屋さんです。
        お子様からお年寄りの方までお召し上がりいただけるよう、
        様々なバリエーションをご用意しております。
        また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。
        ぜひご注文ください。
    </p>
    <div class="about-botton pt-5">
      <%= link_to "商品一覧へ" , products_path , class:"about-products-btn"%>
    </div>
  </div>
</div>
<div class="container">
  <div class="about-images">
    <div class="about-image1 about-image p-5">
      <%= image_tag 'momo.png', :width => '100%', :height => 'auto' %>
    </div>
    <div class="about-image2 p-5">
      <%= image_tag 'choco.png', :width => '100%', :height => 'auto' %>
    </div>
    <div class="about-image3 p-5">
      <%= image_tag 'cake.png', :width => '100%', :height => 'auto' %>
    </div>
    <div class="about-image4 p-5">
      <%= image_tag 'bake.png', :width => '100%', :height => 'auto' %>
    </div>
  </div>
  </div>
</div>