<div id="box" >
  <div class="box-text">
  <h1 class = "welcome-coment">
    ながのCAKE
  </h1>
  <p class = "shop-comment">
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。<br>
  </p>
  </div>
  <div id="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="product-title">
    <h2>新着商品</h2>
  </div>
  <div class="row">
     <div class="genre_search col-lg-2 col-sm-3">
      <%= render "public/products/genre_search", genres: @genres %>
     </div>
    <div class="col-lg-10 col-sm-9">
      <div class="new-products">
        <div class="d-flex align-content-around flex-wrap">
           <% @products.each do |product| %>
              <div class="product-box mr-5 ml-5 mb-5">
            <%= link_to product_path(product), class:"test" do %>
                <div class="product-image mb-2">
                  <%= attachment_image_tag product, :image, :fill, 250, 200, format: 'jpeg' %>
                </div>
                <div class="product-detail break-all break-word">
                  <p class="name  text-center pb-2">
                    <%= product.name %>
                  </p>
                  <p class="price">¥<%= product.price %> (税込￥<%= product.include_tax.round %>)</p>
                  <p class="introduction">
                    <%= product.introduction %>
                  </p>
                </div>
            <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row float-right">
    <%= link_to "全ての商品を見る 》", products_path %>
  </div>
</div>

