<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-1">
      <h2>会員一覧</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to admin_customer_path(customer.id) do %>
                <%= customer.last_name %><%= customer.first_name %>
                <% end %>
              </td>
              <td><%= customer.email %></td>
              <div>
              <% if customer.is_deleted_before_type_cast == 0 %>
                <td class="text-success"><%= customer.is_deleted_i18n %></td>
              <% else %>
                <td class="text-muted"><%= customer.is_deleted_i18n %></td>
              <% end %>
              </div>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>