<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-1">
      <h2>配送先編集</h2>
      <div class="container">
        <%= form_with model: @address, local: true do |f| %>

        <div class="form-group row md-3">
          <div class="col-sm-2 col-form-label">
            <label>郵便番号</label>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :postal_code, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row md-3">
          <div class="col-sm-2 col-form-label">
            <label>住所</label>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :address, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row md-3">
          <div class="col-sm-2 col-form-label">
            <lavel>宛名</lavel>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
          <div class="form-group">
            <%= f.submit "変更内容を保存", class: "btn btn-outline-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>