<div class ="container">
  <div class="row">
    <div class ="col">
      <h2>商品一覧</h2>
      <%= link_to "＋", new_admin_product_path, class:"btn btn-light shadow-sm rounded-circle p-0", style:"width:2rem;height:2rem;" %>
      <table class = "table" >
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @products.each do |product| %>
        <tbody>
          <tr>
            <td><%= product.id.to_s %></td>
            <td class = "text-dark"><%=link_to product.name, admin_product_path(product) %></td>
            <td><%= product.price %>円</td>
            <td><%= product.genre.name %></td>
            
            <% if product.sales_status.to_i == 0 %>
              <td class="text-success"><%= product.sales_status_i18n %></td>
            <% elsif product.sales_status.to_i == 1 %>
              <td class="text-muted"><%= product.sales_status_i18n %></td>
            <% end %>
            
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>
</div>