<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-1">
      <h5>注文履歴一覧</h5>
      <table class="table table-hover table-inverse">
        <thread>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払い金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thread>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= order.created_at.strftime('%Y/%m/%d') %>
              </td>
              <td>
                <%= order.delivery_postal_code %><br>
                <%= order.delivery_address %><br>
                <%= order.delivery_name %>
              </td>
              <td>
                <% order.products.each do |product| %>
                  <%= product.name %>
                <% end %>
              </td>
              <td>
                <%= order.total_payment %>
              </td>
              <td>
                <%= order.order_status_i18n %>
              </td>
              <td>
                <%= link_to '表示する', order_path(order), class: "btn btn-info" %>
              </td>
            </tr>
          <% end %>
        </tbody>