<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/98bdf12faf.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');
      @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
    </style>
  </head>
  <body class="d-flex flex-column vh-100">
    <% if request.path == '/' %>
      <%= render 'top_header' %>
    <% else %>
      <%= render 'layouts/else_header' %>
    <% end %>
    <%= yield %>
  </body>
</html>
